<%= form_for(@blogpost) do |f| %>
  <% if @blogpost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blogpost.errors.count, "error") %> prohibited this blogpost from being saved:</h2>

      <ul>
      <% @blogpost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br />
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :Month %><br />
    <%= f.text_field :Month %>
  </div>
  <div class="field">
    <%= f.label :Year %><br />
    <%= f.number_field :Year %>
  </div>
  <div class="field">
    <%= f.label :Post %><br />
    <%= f.text_field :Post %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
